.carousel-main {
    margin: auto;
    text-align: center;
}

.carousel-inner {
    margin: auto;
    width: 35%;
    border-radius: 2%;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31);
    height: 90vh;
    margin-top: 1%;
}


.arrow {
    cursor: pointer;
}

.carousel-top {
    height: 50%;
    text-align: center;
    animation: fade-in 1s ease-in-out both;
    overflow-y: hidden;
}

.carousel-bottom {
    animation: fade-in 1s ease-in-out both;
    height: 50%;
    width: 100%;
    overflow-y: hidden;
}

.top-number {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: white;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    line-height: 35px; 
    margin: 15% auto 2%;
    font-family: 'Roboto', sans-serif;
}

.top-title {
    font-size: 3.5vw;
    color: black;
    font-weight: bold;
    margin: 0 auto 2%;
    font-family: 'Roboto', sans-serif;
}


.top-description {
    font-size: 2vw;
    color: gray;
    font-weight: lighter;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.gradient {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}
